.album-cover {
    cursor: pointer;
    transition: transform 0.2s;
}

.album-cover:hover {
    transform: scale(1.1);
}

footer {
    font-size: 0.9rem;
    color: gray;
}
body {
    background-color: #d2b48c;
    font: 1em sans-serif;
}